---
layout: default
---

<article class="post detailed">
  <h1>{{ page.title }}</h1>

  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  <div>
    <p class="author_title">{{ page.date | date: "%B %e, %Y" }}  ·   {{ content | split: " " | size | divided_by: 200.0 | ceil }} minute read   ·   <span class="post-tags">
      {% for category in categories %}
        <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
      {% endfor %}
    </span></p>
    {% if page.last_modified_at %}
    <p class="author_title" datetime="{{ page.last_modified_at | date_to_xmlschema }}">(Updated: {{ page.last_modified_at | date: "%b %-d, %Y" }})</p>
    {% endif %}
  </div>
    
  <div class="entry">
    {{ content }}
  </div>

  <div>
    <p><span class="share-box">Share:</span> <a href="https://twitter.com/share?text={{ page.title }}&url={{site.url}}{{page.url}}" target="_blank">Twitter</a>, <a href="https://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}" target="_blank">Facebook</a></p>
  </div>

  <!-- {% include disqus.html %} -->
</article>
